* {
  margin: 0;
}

body {
  max-width: 375px;
  max-height: 1185px;
  text-align: center;
  margin: auto;
}

.box1 {
  margin-top: 147px;
}

.title {
  margin-top: 100px;
  font-size: 27px;
  padding: 0;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

button {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px 50px;
  background-color: white;
  border-radius: 25px;
  transition: background-color 0.5s;
  width: 300px;
}
button:hover {
  background-color: black;
  color: white;
}
.balloon {
  position: relative;
  margin: 50px auto 0;
  width: 290px;
  line-height: 50px;
  background: #deecf9;
  border-radius: 10px;
  font-size: 20px;
}

.balloon:after {
  border-top: 10px solid #deecf9;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 48px;
  left: 30px;
}

.box2 {
  box-sizing: border-box;
  position: absolute;
  width: 311px;
  height: 63px;
  left: 32px;
  top: 755px;
  border: 2px solid #000000;
  border-radius: 14px;
}

.time {
  font-size: 50px;
}

h4 {
  margin-top: 20px;
}

.date1 .date2 {
  border-radius: 14px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
  text-align: left;
}
.date1 {
  background-color: #e5f3ff;
  border-radius: 14px;
  height: 60px;
}
.box {
  display: flex;
}

.date2 {
  background-color: aquamarine;
  border-radius: 14px;
}
#icon {
  width: 70px;
}
.left {
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
}
.right {
  margin-left: 40px;
}

.main_pic {
  width: 300px;
}

.date1 {
  width: 300px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  margin: 10px auto 0 auto;
}

#recordBlock {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  padding: 15px auto 15px auto;
  background-color: #eaeaea;
  border-radius: 25px;
}
a {
  text-decoration: none;
  color: black;
}
